<!doctype html>
<head>
<script type="text/javascript" src="/static/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="/static/splitter.js"></script>
<link rel="stylesheet/less" type="text/css" href="/static/style.less"/>
<script type="text/javascript" src="/static/less-1.4.1.min.js"></script>
</head>
<body>

<div class="header">
  <div>
    <div class="split">
      <div class="url">
        <label for="setUrl">Left side Url: http://</label>
        <input id="setUrl" name="leaderUrl" type="text" tabindex="100" value="{{ initial }}"/>
      </div>

      <div>
        <label for="leaderMatch">Right side replace: s/</label>
        <input name="leaderMatch" type="text" tabindex="200" value="{{ subst }}"/>

        <label for="followReplace">/</label>
        <input name="followReplace" type="text" tabindex="300" value="{{ replacement}}"/>
      </div>
    </div>

    <div class="split">
      <input id="reload" type="submit" value="Reload both"/>
    </div>
  </div>

  <div class="timingBar">
    <div class="split timer loading" data-for="leader">
      <div class="time"></div>
      <div class="url"></div>
    </div>
    <div class="split timer loading" data-for="follower">
      <div class="time"></div>
      <div class="url"></div>
    </div>
  </div>
</div>

<div class="ifHolder">
  <iframe id="leader" class="split left"></iframe>
  <iframe id="follower" class="split right"></iframe>
</div>

<script type="text/javascript">
  $(document).ready(function() {
  ss.init();
  });
</script>

</body>
</html>
