<!doctype html>
<head>
<script type="text/javascript" src="/static/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="/static/splitter.js"></script>
<link rel="stylesheet/less" type="text/css" href="/static/style.less"/>
<script type="text/javascript" src="/static/less-1.4.1.min.js"></script>
</head>
<body>

<div class="header">
  <div>
    <div class="split">
      <div class="url">
        <label for="setUrl">Left side Url: http://</label>
        <input id="setUrl" name="leaderUrl" type="text" tabindex="100"/>
      </div>

      <div>
        <label for="leaderMatch">Right side replace: s/</label>
        <input name="leaderMatch" type="text" value="300" tabindex="200"/>

        <label for="followReplace">/</label>
        <input name="followReplace" type="text" value="500" tabindex="300"/>
      </div>
    </div>

    <div class="split" style="background-color:purple; height:40px;"></div>
  </div>

  <div class="timingBar">
    <div class="split" style="background-color:red;"></div>
    <div class="split" style="background-color:green;"></div>
  </div>
</div>

<div class="ifHolder">
  <iframe id="leader" class="split left" src="/empty"></iframe>
  <iframe id="follower" class="split right"></iframe>
</div>

<script type="text/javascript">
  $(document).ready(function() {
  ss.init();
  });
</script>

</body>
</html>
